{% extends 'story9Base.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="container" style="margin-top: 100px;">
    <h1>Login</h1>
    <div id="login-form">
        <form action="/login/" method="POST">
            {%csrf_token%}
                <table>
                    <tr>
                        <td>Username</td>
                        <td><input type="text" name="username" id="username-input"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="password" id="password-input"></td>
                    </tr>
                    
                </table>
                <input type="submit" value="Login" name="Login" id="login-submit">
            </form>
    </div>
    <div id="error-message">
        {%for message in messages%}
            <p style="color: red;">{{message}}</p>
        {%endfor%}
    </div>
    <div>
        <p>Belum punya akun? <a href="/registration/">daftar</a></p>
    </div>
</div>

{% endblock content %}