{% extends 'story9Base.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Register</title>
{% endblock meta %}

{% block content %}

<div class="container" style="margin-top: 100px;">
    <h1>Register</h1>
    <form method="POST" action="">
        {%csrf_token%}
        <table style="text-align: left;">
            <tr>
                <th>{{form.username.label}}</th>
                <th>{{form.username}}</th>
            </tr>
            <tr>
                <th>{{form.email.label}}</th>
                <th>{{form.email}}</th>
            </tr>
            <tr>
                <th>{{form.password1.label}}</th>
                <th>{{form.password1}}</th>
            </tr>
            <tr>
                <th>{{form.password2.label}}</th>
                <th>{{form.password2}}</th>
            </tr>
            
        </table>
        
        <input type="submit" value="Submit" name="Create User" id="registration-submit">

        
    </form>
    <div id="form-error">
        {{form.errors}}
    </div>
    <p>Sudah punya akun? <a href="/login/">Login</a></p>
</div>

{% endblock content %}
