body{
    background-color: magenta;
}

.col-sm-3 {
    background-color: #FFD447;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color:  #E3F2FD;
}
  
.flex-container > div {
    background-color: #FFD447;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    border-radius: 10px;
}

li{
    font-size: smaller;
    padding-bottom: 0;
}

.center{
    margin: auto;
}