.accordion-head{
    display: flex;
    flex-wrap: nowrap;
    background-color: #FFD447;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.container-accordion{
    display: flex;
    flex-direction: column;
}

.bawahan{
    background-color:  #3D3D3D;
    color: white;
}

.accordion-1 {
    order: 1;
}

.accordion-2 {
    order: 2;
}

.accordion-3 {
    order: 3;
}

.accordion-4 {
    order: 4;
}

.accordion-5 {
    order: 5;
}

.accordion-content{
    background-color: #3D3D3D;
    color: white;
}