{% extends 'story8Base.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Story 8</title>
{% endblock meta %}

{% block content %}

<div class="container" style="margin-top: 100px;">
    
    <div id="demo">
        <h2>Cari Buku</h2>
        <input type="text" id="inputBuku">
        <button type="button" id="cari">Cari</button>
    </div>
    <div class="buku">
        
    </div>

    <div id="modals">

    </div>

    <script>
        // function loadDoc() {
        //   var xhttp = new XMLHttpRequest();
        //   xhttp.onreadystatechange = function() {
        //     if (this.readyState == 4 && this.status == 200) {
        //       document.getElementById("demo").innerHTML =
        //       this.responseText;
        //     }
        //   };
        //   xhttp.open("GET", "https://www.googleapis.com/books/v1/volumes?q=pelangi", true);
        //   xhttp.send();
        // }

        
    </script>
    


</div>
{% endblock content %}