{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Tambah Mata Kuliah</title>
{% endblock meta %}

{% block content %}

<main>
    <section class="bagian">
        <div class="container" style="margin-top: 150px;">
            <h1>Daftar Mata Kuliah</h1>
            
            <table class="table table-responsive-md">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Dosen</th>
                        <th>Jumlah SKS</th>
                        <th>Deskripsi</th>
                        <th>Semester tahun</th>
                        <th>Kelas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for matakuliah in matakuliahs %}
                        <tr>
                            <th>{{ matakuliah.nama }}</th>
                            <th>{{ matakuliah.dosen }}</th>
                            <th>{{ matakuliah.jumlahSKS }}</th>
                            <th>{{ matakuliah.deskripsi }}</th>
                            <th>{{ matakuliah.semesterTahun }}</th>
                            <th>{{ matakuliah.kelas }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    
</main>

{% endblock content %}