{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Tambah Mata Kuliah</title>
{% endblock meta %}

{% block content %}

    <main>
        <section class="bagian">
            <div class="container" style="margin-top: 150px;">
                <h1>Tambah Mata Kuliah</h1>
                <div class="row">
                    <div class="col-md-4">  
                        <form action="/tambahmatakuliah/" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary">Tambah</button>
                        </form>
                        <br>
                        {% if berhasil %}
                            <div class="alert alert-success">{{ berhasil }}</div>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="bagian">
            <div class="container" style="margin-top: 150px;">
                <h1>Mata kuliah yang terdaftar</h1>
                <div class="row">
                    <div class="col-md-4">  

                        <table>
                            {% for matakuliah in matakuliahs %}
                            <tr>
                                <td>{{ matakuliah.nama }}</td>
                                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#promptHapus-{{ matakuliah.id }}">Hapus</button></td>
                                <div class="modal" id="promptHapus-{{ matakuliah.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title">
                                                    <h3>Hapus?</h3>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                Anda yakin ingin menghapus <b>{{ matakuliah.nama }}</b>?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/tambahmatakuliah/hapus/{{ matakuliah.id }}" class="btn btn-danger">Hapus</a>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            {% endfor %}    
                        </table>

                        
                        <br>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}