{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>KUCING</title>
{% endblock meta %}

    {% block content %}
    
        <section class="bagian" id="gridkucing">            
            <div class="container" style="margin-top: 200px;">
                <h1>GALERI KUCING</h1>
                <div class="row" style="background-color: #FFD447;">
                  <div class="col"><img src="https://images.pexels.com/photos/1543793/pexels-photo-1543793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="kucing" class="kucinggu"></div>
                  <div class="col"><img src="https://images.pexels.com/photos/774731/pexels-photo-774731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="kucing" class="kucinggu"></div>
                  <div class="w-100"></div>
                  <div class="col"><img src="https://images.pexels.com/photos/2558605/pexels-photo-2558605.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="kucing" class="kucinggu"></div>
                  <div class="col"><img src="https://images.pexels.com/photos/156934/pexels-photo-156934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="kucing" class="kucinggu"></div>
                  <div class="w-100"></div>
                  <div class="col"><img src="https://images.pexels.com/photos/236606/pexels-photo-236606.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="kucing" class="kucinggu"></div>
                  <div class="col"><img src="https://images.pexels.com/photos/479009/pexels-photo-479009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="kucing" class="kucinggu"></div>
                </div>
              </div>
        </section>

        <footer id="contact">
            
        </footer>

    {% endblock content %}
