body {
    background-color: #7fdbda;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin-top: 100px;
}

.biodata {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ade498; 
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.deskripsi {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ede682;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

table.riwayat, table.riwayat th, table.riwayat tr, table.riwayat td {
    border: 1px solid black;
}

.sosmed {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #febf63;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}