{% extends 'base.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<title>Kegiatan</title>
{% endblock meta %}


{% block content %}

    <div class="container" style="margin-top: 100px;">
        <h1>Kegiatan</h1>
        <a href="tambah" class="btn btn-primary">tambah</a>
        <div class="row">
            {% for kegiatan in kegiatans %}

                <div class="col-sm-2" style="background-color: #FFD447; margin: 10px; padding: 10px; border-radius: 10px; width: 200px; text-align: center;">
                    <h4>{{ kegiatan.nama }}</h4>

                    <ul>
                    {% for peserta in pesertas %}
                        
                        {% if peserta.Kegiatan.nama == kegiatan.nama %}
                            <li>{{peserta.nama}}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <a href="tambahPeserta/{{kegiatan.id}}" class="btn btn-primary">Tambah Peserta</a>

                </div>

            {% endfor %}
        </div>

    </div>
    

{% endblock content %}