{% extends 'base.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<title>Tambah Peserta</title>
{% endblock meta %}


{% block content %}

    <div class="container" style="margin-top: 100px;">
        <h1>Tambah Peserta</h1>
            <form action="/kegiatan/tambahPeserta/{{id}}" method="POST">
                {% csrf_token %}
                {{formset.as_p}}
                <button class="btn btn-primary">Simpan</button>
            </form>

    </div>
    

{% endblock content %}