{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<title>Tambah Kegiatan</title>
{% endblock meta %}


{% block content %}

    <div class="container" style="margin-top: 100px;">
        
        <div class="row">
            <div class="col-md-6">
                <h1>Tambah Kegiatan</h1>
                <form action="/kegiatan/tambah/" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Tambah</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}