{% extends 'accordionBase.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/styleAccordion.css' %}">
<title>Story 7</title>
{% endblock meta %}

{% block content %}

<div class="container container-accordion" style="margin-top: 100px;">
  <div class="accordion accordion-1" id="aktivitas">
    <div class="accordion-head">
      <h3>Aktivitas</h3>
      <div class="buttons">
        <button class="button-up btn btn-primary">^</button>
        <button class="button-down btn btn-primary">v</button>
      </div>
    </div>
    <div class="accordion-content">
      <ul>
        <li>Kuliah</li>
        <li>Tidur</li>
        <li>Makan</li>
      </ul>
    </div>
  </div>
  <div class="accordion accordion-2" id="pengalaman">
    <div class="accordion-head">
      <h3>Pengalaman Organisasi/Kepanitiaan</h3>
      <div class="buttons">
        <button class="button-up btn btn-primary">^</button>
        <button class="button-down btn btn-primary">v</button>
      </div>
    </div>
    <div class="accordion-content">
      <ul>
        <li>Koordinator perlengkapan acara Idul Adha di SMA</li>
        <li>Staff konsum SIWAK</li>
      </ul>
    </div>
  </div>
  <div class="accordion accordion-3" id="prestasi">
    <div class="accordion-head">
      <h3>Prestasi</h3>
      <div class="buttons">
        <button class="button-up btn btn-primary">^</button>
        <button class="button-down btn btn-primary">v</button>
      </div>
    </div>
    <div class="accordion-content">
      <h2>Tidak ada</h2>
    </div>
  </div>
  <div class="accordion accordion-4" id="prestasi">
    <div class="accordion-head">
      <h3>Hobi</h3>
      <div class="buttons">
        <button class="button-up btn btn-primary">^</button>
        <button class="button-down btn btn-primary">v</button>
      </div>
    </div>
    <div class="accordion-content">
      <ul>
        <li>Nonton Film</li>
        <li>Main Game</li>
        <li>Merenung</li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}